body.has-bg-photo {
	position: relative;
	min-width: 420px;
	width: 100%;
	height: 100%;
	background: url('../img/cooking-woman.jpg')no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";*/
}

.bg-img {
  position: absolute;
   z-index: -1;
  min-width: 420px;
  width: 100%;
  height: 100%;
  background: url('../img/cooking-woman.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";*/
}

.site-header {
  background: #A02654;
  height: 68px;  
}

.kitchenly-branding {
  margin: 0px;
  padding: 0px;
}

.kitchenly-branding a {
  display: block;
  margin: 0px;
  color: #fff;
  font-size: 22px;
  letter-spacing: 0.8pt;
  background: transparent url('../img/kitchenly-logo.png') no-repeat 0px 8px;
  text-indent: 62px;
  height: 68px;
  line-height: 68px;
  font-family: "mic-32-new-web", sans-serif;
}

.kitchenly-branding a:hover {
  text-decoration: none;
}

h1.tag-line {
  color: #fff;
  font-size: 48px;
  line-height: 52px;
  
}

h2.description {
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  margin-top: 20px;
  font-weight: normal;
}

.result-box {
  background: #1F1F20;
  margin-bottom: 28px;
  color: #fff;
  box-sizing: border-box;
}

#user-nav {
  margin-top: 16px;
}

#user-nav li {
  margin-left: 9px;
}

#user-nav li a {
  color: #fff;
}

#user-nav li a:hover {
  color: #333;
}

img.result-main-img{
  width: 100%;
  border-bottom: 1px solid #676767;
}

.host-user-img {
  border-radius: 3px;  
}

h4.result-title {
  margin: 0px;
  color: #fff;
  padding: 10px;
  padding-bottom: 3px;
  font-weight: normal;
}

.venue {
  padding-left: 10px;
}

.result-meta {
  padding: 10px;
  border-top: 1px solid #676767;
  margin-top: 10px;
}

.host-name {
  font-size: 14px;
  position:  relative;
}

.host-user-img {
  width: 36px;
  height: 36px;
  border: 1px solid #676767;
  margin-right: 7px;
}

#navbar-main { 
  clear: both;
}

#navbar-secondary { 
  clear: both;
  margin-top: 20px;
}

#navbar-main .navbar-inner {
  padding-right: 0px;
}

.navbar-form {
  margin-left: -16px;
}

.navbar-form div {
  margin-right: 4px;
}

#navbar-main input {
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  top: -1px;
  border: none;
  padding-left: 10px;
}

#navbar-main .add-on {
  height: 33px;
  width: 25px;
  font-size: 18px;
  line-height: 35px;
  top: -1px;
  padding-top: 5px;
  position: relative;
  color: #333;
}

.homepage-feature {
  background: #2B2B29;
  margin-left: 0px;
  padding: 20px;
  margin-bottom: 68px;
  
}

#guest-number-picker .btn{
  width: 160px;
  text-align: left;
  
}

a.social-link {
  text-decoration: none;
  font-size: 42px;
  color: #fff;  
  margin: 6px;
}

a:hover.social-link {
  color: #44A1E1;
}

.rule {
  margin-top: 32px;
  border-top: #fff;
}