//h1= title
//p Deving #{title}
div.bg-img
header.site-header 
  div.container
    h1.kitchenly-branding.tk-mic-32-new-web.pull-left 
      a(href='/') kitchen.ly
    div.pull-right
      ul#user-nav.unstyled.nav.nav-pills
        li.pull-left 
          a.sign-up-link(href='/') Sign Up
        li.pull-left
          a.sign-in-link(href='/') Login 

div.page-contain.container
  div.homepage-feature.span5
    h1.tag-line.tk-proxima-nova Easily host dinners in your own kitchen.
    h2.description.tk-pt-serif-caption The best way to turn your kitchen into a restaurant and also find great dinners around town.

  div#navbar-main.navbar.navbar-inverse    
    div.navbar-inner
      form(class="navbar-form pull-left")
        div#city-picker.input-append.pull-left
            input(type="input", data-provide="typeahead", placeholder="What city do you want to eat in?")#date-time.span4
            span.add-on
              span.ss-icon.ss-standard location
        div#date-picker.input-append.pull-left
            input(type="input", placeholder="When do you want to eat?")#location.span4
            span.add-on
              span.ss-icon.ss-standard date
        div#guest-number-picker.btn-group.pull-left
            button.btn.dropdown-toggle.btn-large(data-toggle="dropdown") 1 Guest
                span.ss-icon.ss-standard.pull-right users
            ul.dropdown-menu
                li
                  a(href="#") 1 Guest
                li
                  a(href="#") 2 Guests
                li
                  a(href="#") 3 Guests
                li
                  a(href="#") 4 Guests
                li
                  a(href="#") 5 Guests
                li
                  a(href="#") 6 Guests
                li
                  a(href="#") 7 Guests
                li
                  a(href="#") 8 Guests
                  
        button.btn.btn-primary.btn-large.pull-left(type="submit") Search for Dinner
div.rule
div.footer
  a.ss-icon.ss-social.social-link(href="#") facebook
  a.ss-icon.ss-social.social-link(href="#") twitter
block scripts
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="scripts/vendor/jquery/jquery-1.7.1.min.js"><\/script>')</script>

    <script src="scripts/vendor/ss-social.js"></script>
    <script src="scripts/vendor/ss-standard.js"></script>
    
    <script src="bootstrap/js/bootstrap-transition.js"></script>  
    <script src="bootstrap/js/bootstrap-modal.js"></script>
    <script src="bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="bootstrap/js/bootstrap-button.js"></script>
    <script src="bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="bootstrap/js/bootstrap-popover.js"></script>
    <script src="bootstrap/js/bootstrap-typeahead.js"></script>
    
    