//h1= title
//p Deving #{title}

div.bg-img
header.site-header 
  div.container
    h1.kitchenly-branding.tk-mic-32-new-web.pull-left 
      a(href='/') kitchen.ly
    div.pull-right
      ul#user-nav.unstyled.nav.nav-pills
        li.pull-left 
          a.sign-up-link(href='/') Sign Up
        li.pull-left
          a.sign-in-link(href='/') Login 

div.page-contain.container
  div.homepage-feature.span5
    h1.tag-line.tk-proxima-nova Easily host dinners in your own kitchen.
    h2.description.tk-pt-serif-caption The best way to turn your kitchen into a restaurant and also find great dinners around town.

  div#navbar-main.navbar.navbar-inverse    
    div.navbar-inner
      form(class="navbar-form pull-left")
        div#city-picker.input-append.pull-left
            input(type="input", data-provide="typeahead", placeholder="What city do you want to eat in?")#location.typeahead.span4
            span.add-on
              span.ss-icon.ss-standard location
        div#date-picker.input-append.pull-left
            input(type="input", rel="popover", data-placement="bottom", placeholder="When do you want to eat?")#date-time.span4
            span.add-on
              span.ss-icon.ss-standard date
                      
        div#guest-number-picker.btn-group.pull-left
            button.btn.dropdown-toggle.btn-large(data-toggle="dropdown") 
                span.num 1 Guest
                span.ss-icon.ss-standard.pull-right users
            ul.dropdown-menu
                li
                  a(href="#") 1 Guest
                li
                  a(href="#") 2 Guests
                li
                  a(href="#") 3 Guests
                li
                  a(href="#") 4 Guests
                li
                  a(href="#") 5 Guests
                li
                  a(href="#") 6 Guests
                li
                  a(href="#") 7 Guests
                li
                  a(href="#") 8 Guests
                  
        button.btn.btn-primary.btn-large.pull-left(type="submit") Search for Dinner  
  
  div#calendar-picker-contain
    div#calendar-picker
        table.table-bordered.table-striped.table-collapsed
            thead
              tr
                th.buttons(colspan="7")
                  div.btn-group
                    a.btn 
                      i.icon-chevron-left
                    a.btn.center-btn November 2012
                    a.btn
                      i.icon-chevron-right
              tr
                th.day-of-week Sun
                th.day-of-week Mon
                th.day-of-week Tue
                th.day-of-week Wed
                th.day-of-week Thu
                th.day-of-week Fri
                th.day-of-week Sat
          
            tbody
              tr
                td.muted 
                  a.day(href='#') 29
                td.muted
                  a.day(href='#') 30
                td.muted
                  a.day(href='#') 31
                td
                  a.day(href='#') 1
                td 
                  a.day(href='#') 2
                td 
                  a.day(href='#') 3
                td 
                  a.day(href='#') 4
              
              tr
                td 
                  a.day(href='#') 5
                td 
                  a.day(href='#') 6
                td 
                  a.day(href='#') 7
                td 
                  a.day(href='#') 8
                td 
                  a.day(href='#') 9
                td 
                  a.day(href='#') 10
                td 
                  a.day(href='#') 11
              
              tr
                td 
                  a.day(href='#') 12
                td 
                  a.day(href='#') 13
                td 
                  a.day(href='#') 14
                td 
                  a.day(href='#') 15
                td 
                  a.day(href='#') 16
                td 
                  a.day(href='#') 17
                td 
                  a.day(href='#') 18
              
              tr
                td 
                  a.day(href='#') 19
                td 
                  a.day(href='#') 20
                td 
                  a.day(href='#') 21
                td 
                  a.day(href='#') 22
                td 
                  a.day(href='#') 23
                td 
                  a.day(href='#') 24
                td 
                  a.day(href='#') 25
              tr
                td 
                  a.day(href='#') 26
                td 
                  a.day(href='#') 27
                td 
                  a.day(href='#') 28
                td 
                  a.day(href='#') 29
                td.muted 
                  a.day(href='#') 1
                td.muted 
                  a.day(href='#') 2  
                td.muted 
                  a.day(href='#') 3
