//h1= title
//p Deving #{title}

div.bg-img
header.site-header 
  div.container
    h1.kitchenly-branding.tk-mic-32-new-web.pull-left 
      a(href='/') kitchen.ly
    div.pull-right
      ul#user-nav.unstyled.nav.nav-pills
        li.pull-left 
          a.sign-up-link(href='/register') Sign Up
        li.dropdown.pull-left
          a.dropdown-toggle(href='#', data-toggle='dropdown') Login
          .dropdown-menu(style='padding: 15px; margin-left: -203px; margin-top:-6px; padding-bottom: 0px;')
            form(method='post', action='login', accept-charset='UTF-8')
              input#username(style='margin-bottom: 15px;', type='text', placeholder='Username', name='username')
              input#password(style='margin-bottom: 15px;', type='password', placeholder='Password', name='password')
              input#remember-me(style='float: left; margin-right: 10px;', type='checkbox', name='remember-me', value='1')
              label.string.optional(for='user_remember_me')  Remember me
              input#sign-in.btn.btn-primary.btn-block(type='submit', value='Sign In')

div.page-contain.container
  div.homepage-feature.span5
    h1.tag-line.tk-proxima-nova Easily host dinners in your own kitchen.
    h2.description.tk-pt-serif-caption The best way to turn your kitchen into a restaurant and also find great dinners around town.

  div#navbar-main.navbar.navbar-inverse    
    div.navbar-inner
      form(class="navbar-form pull-left searchly" )
        div#city-picker.input-append.pull-left
            input(type="input", data-provide="typeahead", placeholder="What city do you want to eat in?")#location.typeahead.span4
            span.add-on
              span.ss-icon.ss-standard location
        div#date-picker.input-append.pull-left
            input(type="input", rel="popover", data-placement="bottom", placeholder="When do you want to eat?")#date-time.span4
            span.add-on
              span.ss-icon.ss-standard date
                      
        div#guest-number-picker.btn-group.pull-left
            button.btn.dropdown-toggle.btn-large(data-toggle="dropdown") 
                span.num 1 Guest
                span.ss-icon.ss-standard.pull-right users
            ul.dropdown-menu
                li
                  a(href="#") 1 Guest
                li
                  a(href="#") 2 Guests
                li
                  a(href="#") 3 Guests
                li
                  a(href="#") 4 Guests
                li
                  a(href="#") 5 Guests
                li
                  a(href="#") 6 Guests
                li
                  a(href="#") 7 Guests
                li
                  a(href="#") 8 Guests
                  
        button#search-button.btn.btn-primary.btn-large.pull-left(type="submit") Search for Dinner  
