//h1= title
//p Deving #{title}

div.bg-img
header.site-header 
  div.container
    h1.kitchenly-branding.tk-mic-32-new-web.pull-left 
      a(href='/') kitchen.ly
    div.pull-right
      ul#user-nav.unstyled.nav.nav-pills
        li.pull-left 
          a.sign-up-link(href='/') Sign Up
        li.pull-left
          a.sign-in-link(href='/') Login 

div.page-contain.container
  div.homepage-feature.span5
    h1.tag-line.tk-proxima-nova Easily host dinners in your own kitchen.
    h2.description.tk-pt-serif-caption The best way to turn your kitchen into a restaurant and also find great dinners around town.

  div#navbar-main.navbar.navbar-inverse    
    div.navbar-inner
      form(class="navbar-form pull-left")
        div#city-picker.input-append.pull-left
            input(type="input", data-provide="typeahead", placeholder="What city do you want to eat in?")#date-time.span4
            span.add-on
              span.ss-icon.ss-standard location
        div#date-picker.input-append.pull-left
            input(type="input", placeholder="When do you want to eat?")#location.span4
            span.add-on
              span.ss-icon.ss-standard date
                      
        div#guest-number-picker.btn-group.pull-left
            button.btn.dropdown-toggle.btn-large(data-toggle="dropdown") 1 Guest
                span.ss-icon.ss-standard.pull-right users
            ul.dropdown-menu
                li
                  a(href="#") 1 Guest
                li
                  a(href="#") 2 Guests
                li
                  a(href="#") 3 Guests
                li
                  a(href="#") 4 Guests
                li
                  a(href="#") 5 Guests
                li
                  a(href="#") 6 Guests
                li
                  a(href="#") 7 Guests
                li
                  a(href="#") 8 Guests
                  
        button.btn.btn-primary.btn-large.pull-left(type="submit") Search for Dinner

  div#calendar-picker
    a.btn(href='#', rel='popover', data-placement='bottom', data-original-title='popover title') popover button
    table.table-bordered.table-striped.table-collapsed
        thead
          tr
            th.buttons(colspan="7")
              div.btn-group
                a.btn 
                  i.icon-chevron-left
                a.btn.center-btn November 2012
                a.btn
                  i.icon-chevron-right
          
          tr
            th Sun
            th Mon
            th Tue
            th Wed
            th Thu
            th Fri
            th Sat
      
        tbody
          tr
            td.muted 29
            td.muted 30
            td.muted 31
            td 1
            td 2
            td 3
            td 4
          
          tr
            td 5
            td 6
            td 7
            td 8
            td 9
            td 10
            td 11
          
          tr
            td 12
            td 13
            td 14
            td 15
            td 16
            td 17
            td 18
          
          tr
            td 19
            td 20
            td 21
            td 22
            td 23
            td 24
            td 25
          tr
            td 26
            td 27
            td 28
            td 29
            td.muted 1
            td.muted 2  
            td.muted 3

