!!!
html.no-js
  head
    title= title
    
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/responsive.css')
    link(rel='stylesheet', href='/css/kitchenly.css')
    
    block scripts
      script(src='/scripts/vendor/modernizr-2.5.3.min.js')
        
      <script type="text/javascript" src="//use.typekit.net/jnr8raz.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
  body!= body