!!!
html.no-js
  head
    title= title
    
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/responsive.css')
    link(rel='stylesheet', href='/css/kitchenly.css')
    
    block scripts
      script(src='/scripts/vendor/modernizr-2.5.3.min.js')
        
      <script type="text/javascript" src="//use.typekit.net/jnr8raz.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="/scripts/vendor/jquery/jquery-1.7.1.min.js"><\/script>')</script>
      
      <script src="/scripts/vendor/moment.js"></script>
      
      <script src="/scripts/vendor/ss-social.js"></script>
      <script src="/scripts/vendor/ss-standard.js"></script>
          
      <script src="/bootstrap/js/bootstrap-transition.js"></script>  
      <script src="/bootstrap/js/bootstrap-modal.js"></script>
      <script src="/bootstrap/js/bootstrap-dropdown.js"></script>
      <script src="/bootstrap/js/bootstrap-button.js"></script>
      <script src="/bootstrap/js/bootstrap-tooltip.js"></script>
      <script src="/bootstrap/js/bootstrap-popover.js"></script>
      <script src="/bootstrap/js/bootstrap-typeahead.js"></script>
      
      <script src="/scripts/onload.js"></script>
    
  body!= body

  div.container.footer-contain
    div.footer
      a.ss-icon.ss-social-circle.social-link(href="#") facebook
      a.ss-icon.ss-social-circle.social-link(href="#") twitter
