!!!
html
  head
    title= title
    
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/responsive.css')
    link(rel='stylesheet', href='/css/kitchenly.css')
    
  body.has-bg-photo!= body