block scripts
  script(src='https://js.stripe.com/v1/')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js')
  script(src='/scripts/payment.js')
div#stripe-form
  form(action="", method="POST",id="payment-form")
    div.form-row
      div.cc-type Card Type
      select.card-type
        option(value="Visa", selected) VISA
        option(value="American Express") American Express 
        option(value="MasterCard") MasterCard
        option(value="Discover") Discover
        option(value="JCB") JCB 
        option(value="Diners Club") Diners Club
    div.form-row
      div.cc-text Card card-number
      input(type="text",size="30",autocomplete="off",class="card-number",value="4242424242424242")
    div.form-row
      div.cc-text CVC
      input(type="text",size="4",autocomplete="off",class="card-cvc",value="123")
    div.form-row
      div.cc-text Expiration (MM/YYYY)
      input(type="text",size="2",class="card-expiry-month",value="12")
      span /
      input(type="text",size="4",class="card-expiry-year",value="2012")
    div.form-row
      input(type="hidden",name="amount",value="2000",id="cc-amount")
      input(type="hidden",name="currency",value="usd",id="cc-currency")
    div.form-row
      button(type="submit",class="submit-button") Submit Payment
    div.form-row
      div#errors.hidden