form.form-horizontal(action='', method='POST')
    fieldset
        legend Register
        
        .control-group
          //Username 
          label.control-label(for='username') Username
          .controls
            input#username.input-xlarge(type='text', name='username', placeholder='')
            p.help-block Username can contain any letters or numbers, without spaces
        
        .control-group
          //E-mail 
          label.control-label(for='email') E-mail
          .controls
            input#email.input-xlarge(type='text', name='email', placeholder='')
            p.help-block Please provide your E-mail
        
        .control-group
          //Password
          label.control-label(for='password') Password
          .controls
            input#password.input-xlarge(type='password', name='password', placeholder='')
            p.help-block Password should be at least 4 characters
        
        .control-group
         //Password confirm
          label.control-label(for='password_confirm') Confirm Password
          .controls
            input#password_confirm.input-xlarge(type='password', name='password_confirm', placeholder='')
            p.help-block Please confirm password
          
        .control-group
        //registration button
          .controls
            button.btn.btn-success Register